#text{
   width:100%;
   background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwww.kesoso.com%2Fuploads%2Fallimg%2F202111%2F202110292312786942.jpg&refer=http%3A%2F%2Fwww.kesoso.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1663999382&t=6875305de5f65817a320c481fdb3ef5b);
   background-attachment:fixed;
   background-size: 100% 100%;
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   color:rgb(66, 240, 98);
   text-shadow: 1px 1px 5px white;
   font-size:20px;
}
