#text{
   width:100%;
   background: url(https://tse1-mm.cn.bing.net/th/id/OIP-C.1QBBozE6LGYvK4vN5Y1aogHaEs?w=292&h=185&c=7&r=0&o=5&dpr=2&pid=1.7);
   background-attachment:fixed;
   background-size: 100% 100%;
   font-family: Consolas, "Liberation Mono", Courier, monospace;
   color:rgb(66, 240, 98);
   text-shadow: 1px 1px 5px white;
   font-size:20px;
}